/* PhotoContent */
.photo {
  margin: auto;
  height: 36rem;
  border-radius: .2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(.8);
  animation: scaleUp .3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
}

.img {
  grid-row: 1 / 4;
}

.comments {
  padding: 0 2rem;
}

.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.visualizations::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url('../../../../assets/visualizacao-black.svg');
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  margin-right: .5rem;
  position: relative;
  top: 3px;
  background-color: #333;
  margin-top: 5px;
}

/* PhotoComments */
.comments {
  overflow-y: auto;
  word-break: break-word;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

/* PhotoCommentsForm */
.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: .5rem;
  border-radius: .2rem;
  background-color: #eee;
  transition: .2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.button:focus svg path,
.button:hover svg path {
  fill: #fea;
  stroke: #fb1;
}

.button:focus svg g,
.button:hover svg g {
  animation: latir .6s infinite;
}

/* PhotoDelete */
.delete {
  background-color: #ddd;
  padding: .3rem .6rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: .875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .4rem;
  transition: .1s;
}

.delete:focus,
.delete:hover {
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 64rem) {
  /* PhotoContent */
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }

  .img {
    grid-row: 1;
  }
}